# Source
src/
tests/
__tests__/
coverage/
.nyc_output/

# Config files
.eslintrc*
.prettierrc*
.editorconfig
.github/
.husky/
rollup.config.js
tsconfig.json

# Dev tools
.idea/
.vscode/
.gitlab/

# Logs
logs/
*.log

# Misc
.DS_Store
Thumbs.db
*.tgz
.env*
